<div id="root">
  <nav>
    <h1>Advanced RxJS Observables and Subscription in Angular</h1>
  </nav>

  <div id="main-body">
    <p *ngIf="isLoading" style="text-align: center; color: green;">Loading...</p>
    <p *ngIf="isError" style="text-align: center; color: red;">Something went wrong. 404 : Error</p>
    <div id="posts" >
      <div *ngIf="!isLoading && !isError">
        <app-card *ngFor="let item of posts" [item]="item"></app-card>
      </div>
    </div>

    <div id="pagination">
      <button (click)="handlePagination(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <p style="font-weight: bold;">{{ currentPage }}</p>
      <button (click)="handlePagination(currentPage + 1)" [disabled]="posts.length < 15">Next</button>
    </div>
  </div>

  <footer>
    <p>{{"shatrukumar47@gmail.com"}}</p>
  </footer>
</div>